
USE [master]
GO
/****** Object:  Database [BD_VIVERO]    Script Date: 28/3/2022 19:12:26 ******/
CREATE DATABASE [BD_VIVERO]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'BD_VIVERO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BD_VIVERO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
-- LOG ON 
--( NAME = N'BD_VIVERO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BD_VIVERO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
-- WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_VIVERO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_VIVERO]
GO


/****** Object:  Table [dbo].[Categoria]    Script Date: 28/3/2022 19:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[COD_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CATEGORIA] [varchar](30) NOT NULL,
	[DESCRIPCION] [varchar](60) NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[COD_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Clasificacion_Planta]    Script Date: 28/3/2022 19:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clasificacion_Planta](
	[COD_CLASIFICACION] [int] IDENTITY(1,1) NOT NULL,
	[COD_PLANTA] [int] NOT NULL,
	[COD_CATEGORIA] [int] NOT NULL,
 CONSTRAINT [PK_Clasificacion_Planta] PRIMARY KEY CLUSTERED 
(
	[COD_CLASIFICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Cliente]    Script Date: 28/3/2022 19:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[COD_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NULL,
	[NOMBRE] [varchar](30) NULL,
	[APELLIDO1] [varchar](25) NULL,
	[TELEFONO] [varchar](20) NULL,
	[ESTADO] [bit] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[COD_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Detalle_Factura]    Script Date: 28/3/2022 19:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Factura](
	[COD_DETALLE] [int] IDENTITY(1,1) NOT NULL,
	[COD_FACTURA] [int] NOT NULL,
	[COD_HERRAMIENTA_PROD] [int] NULL,
	[CANTIDAD_HERRAMIENTAS_PROD] [int] NULL,
	[COD_PLANTA] [int] NULL,
	[CANTIDAD_PLANTAS] [int] NULL,
	[TOTAL_PAGAR] [float] NULL,
	[FECHA] [date] NULL,
	[OBSERVACIONES] [varchar](60) NULL,
 CONSTRAINT [PK_Detalle_Factura] PRIMARY KEY CLUSTERED 
(
	[COD_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Empleado]    Script Date: 28/3/2022 19:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[COD_EMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NULL,
	[NOMBRE] [varchar](30) NULL,
	[APELLIDO1] [varchar](25) NULL,
	[TELEFONO] [varchar](20) NULL,
	[VENTAS_REALIZADAS] [int] NULL,
	[ESTADO] [bit] NULL,
	[BONO] [float] NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[COD_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Factura]    Script Date: 28/3/2022 19:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[COD_FACTURA] [int] IDENTITY(1,1) NOT NULL,
	[COD_EMPLEADO] [int] NOT NULL,
	[COD_CLIENTE] [int] NOT NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[COD_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Herramienta_Producto]    Script Date: 28/3/2022 19:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Herramienta_Producto](
	[COD_HERRAMIENTA_PROD] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[DESCRIPCION] [varchar](60) NOT NULL,
	[PRECIO] [float] NOT NULL,
	[CANTIDAD_DISPONIBLE] [int] NOT NULL,
	[MATERIAL] [varchar](30) NULL,
	[FECHA_VENCIMIENTO] [date] NULL,
 CONSTRAINT [PK_Herramienta_Producto] PRIMARY KEY CLUSTERED 
(
	[COD_HERRAMIENTA_PROD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Planta]    Script Date: 28/3/2022 19:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planta](
	[COD_PLANTA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[DESCRIPCION] [varchar](60) NOT NULL,
	[PRECIO] [float] NOT NULL,
	[CANTIDAD_DISPONIBLE] [int] NOT NULL,
	[CANTIDAD_REGADO] [int] NOT NULL,
	[TIEMPOLUZ_SOLAR] [float] NOT NULL,
	[EXTRAS_CARACTERISTICAS] [varchar](100) NULL,
 CONSTRAINT [PK_Planta] PRIMARY KEY CLUSTERED 
(
	[COD_PLANTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_ESTADO]  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[Detalle_Factura] ADD  CONSTRAINT [DF_Detalle_Factura_TOTAL_PAGAR]  DEFAULT ((0)) FOR [TOTAL_PAGAR]
GO
ALTER TABLE [dbo].[Detalle_Factura] ADD  CONSTRAINT [DF_Detalle_Factura_FECHA]  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [DF_Empleado_VENTAS_REALIZADAS]  DEFAULT ((0)) FOR [VENTAS_REALIZADAS]
GO
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [DF_Empleado_BONO]  DEFAULT ((0)) FOR [BONO]
GO
ALTER TABLE [dbo].[Clasificacion_Planta]  WITH CHECK ADD  CONSTRAINT [FK_Clasificacion_Planta_Categoria] FOREIGN KEY([COD_CATEGORIA])
REFERENCES [dbo].[Categoria] ([COD_CATEGORIA])
GO
ALTER TABLE [dbo].[Clasificacion_Planta] CHECK CONSTRAINT [FK_Clasificacion_Planta_Categoria]
GO
ALTER TABLE [dbo].[Clasificacion_Planta]  WITH CHECK ADD  CONSTRAINT [FK_Clasificacion_Planta_Planta] FOREIGN KEY([COD_PLANTA])
REFERENCES [dbo].[Planta] ([COD_PLANTA])
GO
ALTER TABLE [dbo].[Clasificacion_Planta] CHECK CONSTRAINT [FK_Clasificacion_Planta_Planta]
GO
ALTER TABLE [dbo].[Detalle_Factura]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Factura_Factura] FOREIGN KEY([COD_FACTURA])
REFERENCES [dbo].[Factura] ([COD_FACTURA])
GO
ALTER TABLE [dbo].[Detalle_Factura] CHECK CONSTRAINT [FK_Detalle_Factura_Factura]
GO
ALTER TABLE [dbo].[Detalle_Factura]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Factura_Herramienta_Producto] FOREIGN KEY([COD_HERRAMIENTA_PROD])
REFERENCES [dbo].[Herramienta_Producto] ([COD_HERRAMIENTA_PROD])
GO
ALTER TABLE [dbo].[Detalle_Factura] CHECK CONSTRAINT [FK_Detalle_Factura_Herramienta_Producto]
GO
ALTER TABLE [dbo].[Detalle_Factura]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Factura_Planta] FOREIGN KEY([COD_PLANTA])
REFERENCES [dbo].[Planta] ([COD_PLANTA])
GO
ALTER TABLE [dbo].[Detalle_Factura] CHECK CONSTRAINT [FK_Detalle_Factura_Planta]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Cliente] FOREIGN KEY([COD_CLIENTE])
REFERENCES [dbo].[Cliente] ([COD_CLIENTE])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Cliente]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Empleado] FOREIGN KEY([COD_EMPLEADO])
REFERENCES [dbo].[Empleado] ([COD_EMPLEADO])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Empleado]
GO
ALTER TABLE [dbo].[Categoria]  WITH CHECK ADD  CONSTRAINT [CK_Nombre_Categoria] CHECK  (([NOMBRE_CATEGORIA]=upper([NOMBRE_CATEGORIA]) AND ([NOMBRE_CATEGORIA]='Interiores' OR [NOMBRE_CATEGORIA]='Exteriores' OR [NOMBRE_CATEGORIA]='Aromáticas' OR [NOMBRE_CATEGORIA]='Medicinales' OR [NOMBRE_CATEGORIA]='Frutales' OR [NOMBRE_CATEGORIA]='Árboles' OR [NOMBRE_CATEGORIA]='Arbustos')))
GO
ALTER TABLE [dbo].[Categoria] CHECK CONSTRAINT [CK_Nombre_Categoria]
GO
/****** Object:  StoredProcedure [dbo].[SP_BONO]    Script Date: 28/3/2022 19:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--=========================================
--Este Procedimiento Almacenado será llamado cuando el usuario quiera saber el bono de un empleado
--solo con consultar y enviando su id (empleado) y el mes que quiere saber se le devolverá su bono
--solución: suma de las ventas que hizo un empleado según el mes de la fecha y esa suma multiplicarlo por 0.05
--=========================================
CREATE   PROCEDURE [dbo].[SP_BONO] (@COD_EMPLEADO int, @MES int, @BONO float OUT)
AS
BEGIN
DECLARE @SUMA_PAGOS int

SET @SUMA_PAGOS =( SELECT SUM(DF.TOTAL_PAGAR)
				FROM Detalle_Factura DF INNER JOIN Factura F ON DF.COD_FACTURA = F.COD_FACTURA
				WHERE (MONTH(DF.FECHA) = @MES) AND (F.COD_EMPLEADO= @COD_EMPLEADO) )
				--AND (DF.COD_FACTURA = F.COD_FACTURA)

SET @BONO = @SUMA_PAGOS * 0.05

UPDATE Empleado
SET BONO = @BONO
WHERE COD_EMPLEADO = @COD_EMPLEADO

RETURN @BONO
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RESTAR_CANTIDAD_HerrProd]    Script Date: 28/3/2022 19:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---- =============================================
----Proceso Almacenado para actualizar la BD en la tabla Herramienta_Producto
---- =============================================
CREATE   PROCEDURE [dbo].[SP_RESTAR_CANTIDAD_HerrProd] (@cod_Herramienta_Prod int, @cantidad_Herramienta_Prod int)
AS
--BEGIN TRANSACTION
	BEGIN TRY	

	UPDATE Herramienta_Producto
	SET CANTIDAD_DISPONIBLE = CANTIDAD_DISPONIBLE - @cantidad_Herramienta_Prod
	WHERE COD_HERRAMIENTA_PROD= @cod_Herramienta_Prod
	
END TRY
BEGIN CATCH -- Si hay un error se salta todo y el ROLLBACK deshace todo lo realizado	 		
	PRINT ERROR_MESSAGE()
	--ROLLBACK TRANSACTION
END CATCH
GO


/****** Object:  StoredProcedure [dbo].[SP_RESTAR_CANTIDAD_PLANTA]    Script Date: 28/3/2022 19:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_RESTAR_CANTIDAD_PLANTA] (@cod_planta int, @cantidad_plantas int)
AS
--BEGIN TRANSACTION
BEGIN TRY	
	--print @cod_planta
	--print @cantidad_plantas

	UPDATE Planta
	SET CANTIDAD_DISPONIBLE = CANTIDAD_DISPONIBLE - @cantidad_plantas
	WHERE COD_PLANTA = @cod_planta

END TRY
BEGIN CATCH -- Si hay un error se salta todo y el ROLLBACK deshace todo lo realizado
	--ROLLBACK TRANSACTION 
	PRINT ERROR_MESSAGE()
END CATCH
GO


/****** Object:  StoredProcedure [dbo].[SP_RESUMIR_VENTAS]    Script Date: 28/3/2022 19:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=========================================
--Procedimiento Almacenado para saber el resumen del mes especificado
--=========================================
CREATE   PROCEDURE [dbo].[SP_RESUMIR_VENTAS]
	(@mes int,
	@resumen float OUT)
AS
BEGIN
	SET @resumen= (SELECT SUM(DF.TOTAL_PAGAR)
					FROM Detalle_Factura DF
					WHERE MONTH(DF.FECHA) = @mes)

END
GO
USE [master]
GO
